html,
body,
#app {
  margin: 0px;
  padding: 0px;
  height: 100%;
  color: #b9babc;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.725;
  letter-spacing: 0.05rem;
  background-color: #181818;
  font-family: "Menlo", monospace;
  text-rendering: geometricPrecision;

  a {
    font-weight: 500;
  }
}
